:root {
  // COLORS
  --white: #FEFEFE;
  --black: #000000;
  --success: #12af27;
  --danger: #A30909;
  --warning: #ec7622;

  // PADDING
  --padding-xs: .4rem;
  --padding-s: 1.2rem;

  // FONTS
  --font-size-n: calc(1.2rem + .6vmin);
}